USE [startrip]
GO
ALTER TABLE [dbo].[TravelView] DROP CONSTRAINT [FK__TravelVie__membe__2022C2A6]
GO
ALTER TABLE [dbo].[TravelPlan] DROP CONSTRAINT [FK__TravelPla__membe__1F2E9E6D]
GO
ALTER TABLE [dbo].[TravelList] DROP CONSTRAINT [FK__TravelLis__viewI__1E3A7A34]
GO
ALTER TABLE [dbo].[TravelList] DROP CONSTRAINT [FK__TravelLis__trave__1D4655FB]
GO
/****** Object:  Table [dbo].[TripInf]    Script Date: 2018/5/25 下午 03:33:30 ******/
DROP TABLE [dbo].[TripInf]
GO
/****** Object:  Table [dbo].[TravelView]    Script Date: 2018/5/25 下午 03:33:30 ******/
DROP TABLE [dbo].[TravelView]
GO
/****** Object:  Table [dbo].[TravelPlan]    Script Date: 2018/5/25 下午 03:33:30 ******/
DROP TABLE [dbo].[TravelPlan]
GO
/****** Object:  Table [dbo].[TravelList]    Script Date: 2018/5/25 下午 03:33:30 ******/
DROP TABLE [dbo].[TravelList]
GO
/****** Object:  Table [dbo].[STATION]    Script Date: 2018/5/25 下午 03:33:30 ******/
DROP TABLE [dbo].[STATION]
GO
/****** Object:  Table [dbo].[SeatList]    Script Date: 2018/5/25 下午 03:33:30 ******/
DROP TABLE [dbo].[SeatList]
GO
/****** Object:  Table [dbo].[RtDetails]    Script Date: 2018/5/25 下午 03:33:30 ******/
DROP TABLE [dbo].[RtDetails]
GO
/****** Object:  Table [dbo].[RtBooking]    Script Date: 2018/5/25 下午 03:33:30 ******/
DROP TABLE [dbo].[RtBooking]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 2018/5/25 下午 03:33:30 ******/
DROP TABLE [dbo].[Rooms]
GO
/****** Object:  Table [dbo].[OrderList]    Script Date: 2018/5/25 下午 03:33:30 ******/
DROP TABLE [dbo].[OrderList]
GO
/****** Object:  Table [dbo].[Membertable]    Script Date: 2018/5/25 下午 03:33:30 ******/
DROP TABLE [dbo].[Membertable]
GO
/****** Object:  Table [dbo].[hotels]    Script Date: 2018/5/25 下午 03:33:30 ******/
DROP TABLE [dbo].[hotels]
GO
/****** Object:  Table [dbo].[hotels]    Script Date: 2018/5/25 下午 03:33:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hotels](
	[hotelid] [int] IDENTITY(1,1) NOT NULL,
	[hotelname] [varchar](200) NULL,
	[hotelphone] [varchar](200) NULL,
	[hotelstar] [int] NULL,
	[hoteladdress] [varchar](200) NULL,
	[hotelstate] [int] NULL,
	[hotelinfo] [varchar](8000) NULL,
	[hotelrulenote] [varchar](8000) NULL,
	[lowestPrice] [int] NULL,
	[hotelmanagerid] [int] NULL,
	[photoString] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[hotelid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Membertable]    Script Date: 2018/5/25 下午 03:33:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Membertable](
	[memberid] [int] IDENTITY(1,1) NOT NULL,
	[mail] [varchar](255) NULL,
	[password] [varchar](255) NULL,
	[firstname] [varchar](255) NULL,
	[lastname] [varchar](255) NULL,
	[address] [varchar](255) NULL,
	[phone] [varchar](255) NULL,
	[birthday] [varchar](255) NULL,
	[avatar] [varchar](255) NULL,
	[photo] [varbinary](max) NULL,
	[registerDate] [datetime2](7) NULL,
	[validataCode] [varchar](255) NULL,
 CONSTRAINT [PK__Memberta__7FD4CB2E4B1BA1F9] PRIMARY KEY CLUSTERED 
(
	[memberid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderList]    Script Date: 2018/5/25 下午 03:33:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderList](
	[orderNumber] [int] IDENTITY(1,1) NOT NULL,
	[crderKind] [varchar](255) NULL,
	[orderTime] [datetime2](7) NULL,
	[sMail] [varchar](255) NULL,
	[sPhone] [int] NULL,
	[scId] [varchar](255) NULL,
	[scName] [varchar](255) NULL,
	[EndStation] [varchar](255) NULL,
	[StarStation] [varchar](255) NULL,
	[OrderDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[orderNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 2018/5/25 下午 03:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[roomid] [int] IDENTITY(1,1) NOT NULL,
	[basicprice] [int] NULL,
	[enddate] [date] NULL,
	[facility] [varchar](255) NULL,
	[hotelid] [int] NULL,
	[numberofpeople] [int] NULL,
	[opendate] [date] NULL,
	[roomname] [varchar](255) NULL,
	[roomnote] [varchar](255) NULL,
	[roomstate] [int] NULL,
	[roomtype] [int] NULL,
	[service] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[roomid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RtBooking]    Script Date: 2018/5/25 下午 03:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RtBooking](
	[bgId] [int] IDENTITY(1,1) NOT NULL,
	[bgDate] [varchar](255) NULL,
	[bgNote] [varchar](255) NULL,
	[bgPeople] [int] NULL,
	[bgPeriod] [varchar](255) NULL,
	[cnChair] [int] NULL,
	[cnPeople] [int] NULL,
	[crName] [varchar](255) NULL,
	[crPhone] [varchar](255) NULL,
	[memberId] [int] NULL,
	[reTime] [datetime2](7) NULL,
	[rtId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[bgId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RtDetails]    Script Date: 2018/5/25 下午 03:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RtDetails](
	[rtId] [int] IDENTITY(1,1) NOT NULL,
	[photoPaths] [varchar](255) NULL,
	[rtAddress] [varchar](255) NULL,
	[rtArea] [varchar](255) NULL,
	[rtBusinesshours] [varchar](255) NULL,
	[rtCounty] [varchar](255) NULL,
	[rtCuisine] [varchar](255) NULL,
	[rtEmail] [varchar](255) NULL,
	[rtName] [varchar](255) NULL,
	[rtPhone] [varchar](255) NULL,
	[rtPricepount] [varchar](255) NULL,
	[rtUrl] [varchar](255) NULL,
	[teCategory] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[rtId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeatList]    Script Date: 2018/5/25 下午 03:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeatList](
	[SeatListNumber] [int] IDENTITY(1,1) NOT NULL,
	[OrderNumber] [int] NULL,
	[Seat] [int] NULL,
	[SeatNumber] [int] NULL,
	[Trip] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SeatListNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STATION]    Script Date: 2018/5/25 下午 03:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATION](
	[stationId] [int] IDENTITY(1,1) NOT NULL,
	[area] [nchar](10) NULL,
	[stationName] [nchar](10) NULL,
	[Address] [nchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TravelList]    Script Date: 2018/5/25 下午 03:33:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TravelList](
	[listId] [int] IDENTITY(1,1) NOT NULL,
	[travelId] [int] NOT NULL,
	[viewId] [int] NOT NULL,
	[endTime] [varchar](255) NULL,
	[startTime] [varchar](255) NULL,
	[travelType] [varchar](255) NULL,
	[tripday] [int] NOT NULL,
	[state] [int] NOT NULL,
	[travelName] [varchar](255) NULL,
	[viewName] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[listId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TravelPlan]    Script Date: 2018/5/25 下午 03:33:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TravelPlan](
	[travelId] [int] IDENTITY(1,1) NOT NULL,
	[endDate] [date] NULL,
	[startDate] [date] NULL,
	[travelDays] [int] NOT NULL,
	[travelName] [varchar](255) NULL,
	[img] [varchar](255) NULL,
	[state] [int] NOT NULL,
	[memberId] [int] NOT NULL,
	[mail] [varchar](255) NULL,
	[tripday] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[travelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TravelView]    Script Date: 2018/5/25 下午 03:33:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TravelView](
	[viewid] [int] IDENTITY(1,1) NOT NULL,
	[viewName] [varchar](255) NULL,
	[imgName] [varchar](max) NULL,
	[website] [varchar](255) NULL,
	[viewaddr] [varchar](255) NULL,
	[viewPhone] [varchar](255) NULL,
	[viewDetail] [varchar](255) NULL,
	[latlng] [varchar](255) NULL,
	[viewcount] [int] NULL,
	[tdate] [date] NULL,
	[memberId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[viewid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TripInf]    Script Date: 2018/5/25 下午 03:33:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TripInf](
	[Trip] [int] IDENTITY(1,1) NOT NULL,
	[EndStation] [varchar](255) NULL,
	[Price] [int] NULL,
	[SeateList] [int] NULL,
	[StarStation] [varchar](255) NULL,
	[StarTime] [time](7) NULL,
	[date] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Trip] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[hotels] ON 

INSERT [dbo].[hotels] ([hotelid], [hotelname], [hotelphone], [hotelstar], [hoteladdress], [hotelstate], [hotelinfo], [hotelrulenote], [lowestPrice], [hotelmanagerid], [photoString]) VALUES (2, N'遠雄悅來大飯店 (Farglory Hotel)', N'38123900', 5, N'974花蓮縣壽豐鄉鹽寮村山嶺18號', NULL, N'
花蓮遠雄悅來大飯店依山傍海，視野遼闊，聳立在海拔220公尺海岸山脈北端，10多公頃的維多利亞式造景設施，置身悅來，湛藍的太平洋將隨手可得，碧綠的花東縱谷盡收眼底，山海交錯，秀麗天成，花蓮悅來，使近者悅，讓遠者來。', NULL, 3934, NULL, N'1.jpg;2.jpg;3.jpg;4.jpg;')
INSERT [dbo].[hotels] ([hotelid], [hotelname], [hotelphone], [hotelstar], [hoteladdress], [hotelstate], [hotelinfo], [hotelrulenote], [lowestPrice], [hotelmanagerid], [photoString]) VALUES (3, N'花蓮理想大地渡假飯店 (Promisedland Resort & Lagoon)', N'38656789', 5, N'974花蓮縣壽豐鄉理想路1號', NULL, N'
理想大地這塊地，足足三百二十個地主，也就是有三百多張權狀，我一個人面對三百多人，前前後後買了三年才定案。從民國五十年，十八歲開始，用一千塊台幣和四個合夥人買了一部蹖床開始創業，一年之後因為理念不合各自離去，五十一年開始獨資，三年後開始經營『理想牌』，出產棒棒爐、彩色鍋、流理台，在當時台灣的廚具界連續十年佔有率高達55%，市佔率最高，後來賣給國泰公司，我就把所有的錢拿來買花蓮這塊土地。', NULL, 3391, NULL, N'1.jpg;2.jpg;3.jpg;4.jpg;')
SET IDENTITY_INSERT [dbo].[hotels] OFF
SET IDENTITY_INSERT [dbo].[Membertable] ON 

INSERT [dbo].[Membertable] ([memberid], [mail], [password], [firstname], [lastname], [address], [phone], [birthday], [avatar], [photo], [registerDate], [validataCode]) VALUES (2, N'aada@gmail.com', N'aaaaaa', N'aaa', N'aaa', N'aaa', N'0987654321', N'2017/12/16', N'user.jpg', NULL, NULL, N'')
SET IDENTITY_INSERT [dbo].[Membertable] OFF
SET IDENTITY_INSERT [dbo].[OrderList] ON 

INSERT [dbo].[OrderList] ([orderNumber], [crderKind], [orderTime], [sMail], [sPhone], [scId], [scName], [EndStation], [StarStation], [OrderDate]) VALUES (1, N'0', CAST(N'2018-05-24T12:00:00.0000000' AS DateTime2), N'aaa@bbb.com', NULL, N'A12345678', N'史奴比', N'南方澳站', N'台北車站', CAST(N'2018-05-24T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[OrderList] OFF
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([roomid], [basicprice], [enddate], [facility], [hotelid], [numberofpeople], [opendate], [roomname], [roomnote], [roomstate], [roomtype], [service]) VALUES (1, 12000, NULL, N'1 張雙人床 / 2 張單人床;室內WIFI', 1, 2, NULL, N'豪華雙人房', NULL, NULL, 1, N'附早餐;可加床;
不可退款')
SET IDENTITY_INSERT [dbo].[Rooms] OFF
SET IDENTITY_INSERT [dbo].[RtBooking] ON 

INSERT [dbo].[RtBooking] ([bgId], [bgDate], [bgNote], [bgPeople], [bgPeriod], [cnChair], [cnPeople], [crName], [crPhone], [memberId], [reTime], [rtId]) VALUES (1, N'05/02/2018', N'我要靠門口', 7, N'17:30', 1, 2, N'王大明', N'0912345678', 1, CAST(N'2018-05-24T12:04:13.3830000' AS DateTime2), 1)
INSERT [dbo].[RtBooking] ([bgId], [bgDate], [bgNote], [bgPeople], [bgPeriod], [cnChair], [cnPeople], [crName], [crPhone], [memberId], [reTime], [rtId]) VALUES (2, N'05/26/2018', N'不要靠廁所', 8, N'11:30', 0, 3, N'王小明', N'0987654321', 1, CAST(N'2018-05-24T12:05:39.4290000' AS DateTime2), 7)
INSERT [dbo].[RtBooking] ([bgId], [bgDate], [bgNote], [bgPeople], [bgPeriod], [cnChair], [cnPeople], [crName], [crPhone], [memberId], [reTime], [rtId]) VALUES (3, N'05/15/2018', N'靠邊邊的位子', 2, N'13:00', 0, 0, N'Peter', N'0945612378', 2, CAST(N'2018-05-24T12:11:10.1600000' AS DateTime2), 9)
SET IDENTITY_INSERT [dbo].[RtBooking] OFF
SET IDENTITY_INSERT [dbo].[RtDetails] ON 

SET IDENTITY_INSERT [dbo].[RtDetails] OFF
SET IDENTITY_INSERT [dbo].[STATION] ON 

INSERT [dbo].[STATION] ([stationId], [area], [stationName], [Address]) VALUES (1, N'台北        ', N'台北車站      ', N'台北市中正區市民大道一段168號                                                                                    ')
INSERT [dbo].[STATION] ([stationId], [area], [stationName], [Address]) VALUES (2, N'台北        ', N'市府轉運站     ', N'台北市信義區忠孝東路五段6號                                                                                      ')
INSERT [dbo].[STATION] ([stationId], [area], [stationName], [Address]) VALUES (3, N'台北        ', N'士林轉運站     ', N'臺北市士林區福德路1號                                                                                         ')
SET IDENTITY_INSERT [dbo].[STATION] OFF
SET IDENTITY_INSERT [dbo].[TravelList] ON 

INSERT [dbo].[TravelList] ([listId], [travelId], [viewId], [endTime], [startTime], [travelType], [tripday], [state], [travelName], [viewName]) VALUES (108, 1, 4, N'02:00', N'01:00', N'花蓮', 1, 1, N'food', N'bear two寶慶遠東專櫃4樓')
INSERT [dbo].[TravelList] ([listId], [travelId], [viewId], [endTime], [startTime], [travelType], [tripday], [state], [travelName], [viewName]) VALUES (109, 1, 19, N'05:08', N'03:28', N'花蓮', 1, 0, N'food', N'6星集足體養身會館')
INSERT [dbo].[TravelList] ([listId], [travelId], [viewId], [endTime], [startTime], [travelType], [tripday], [state], [travelName], [viewName]) VALUES (110, 1, 23, N'05:56', N'04:56', N'花蓮', 1, 0, N'food', N'6星集足體養生會館')
SET IDENTITY_INSERT [dbo].[TravelList] OFF
SET IDENTITY_INSERT [dbo].[TravelPlan] ON 

INSERT [dbo].[TravelPlan] ([travelId], [endDate], [startDate], [travelDays], [travelName], [img], [state], [memberId], [mail], [tripday]) VALUES (1, CAST(N'2015-02-08' AS Date), CAST(N'2015-02-05' AS Date), 6, N'花蓮', N'1.jpg', 1, 1, NULL, NULL)
INSERT [dbo].[TravelPlan] ([travelId], [endDate], [startDate], [travelDays], [travelName], [img], [state], [memberId], [mail], [tripday]) VALUES (2, CAST(N'2015-02-21' AS Date), CAST(N'2015-02-07' AS Date), 14, N'台北', N'2.jpg', 1, 1, NULL, NULL)
INSERT [dbo].[TravelPlan] ([travelId], [endDate], [startDate], [travelDays], [travelName], [img], [state], [memberId], [mail], [tripday]) VALUES (3, CAST(N'2015-02-21' AS Date), CAST(N'2015-02-07' AS Date), 14, N'台北', N'3.jpg', 1, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TravelPlan] OFF
SET IDENTITY_INSERT [dbo].[TravelView] ON 

SET IDENTITY_INSERT [dbo].[TravelView] OFF
SET IDENTITY_INSERT [dbo].[TripInf] ON 

INSERT [dbo].[TripInf] ([Trip], [EndStation], [Price], [SeateList], [StarStation], [StarTime], [date]) VALUES (1, N'南方澳站', 250, 31, N'台北車站', CAST(N'12:00:00' AS Time), CAST(N'2018-05-24T00:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[TripInf] OFF
ALTER TABLE [dbo].[TravelList]  WITH CHECK ADD FOREIGN KEY([travelId])
REFERENCES [dbo].[TravelPlan] ([travelId])
GO
ALTER TABLE [dbo].[TravelList]  WITH CHECK ADD FOREIGN KEY([viewId])
REFERENCES [dbo].[TravelView] ([viewid])
GO
ALTER TABLE [dbo].[TravelPlan]  WITH CHECK ADD FOREIGN KEY([memberId])
REFERENCES [dbo].[Membertable] ([memberid])
GO
ALTER TABLE [dbo].[TravelView]  WITH CHECK ADD FOREIGN KEY([memberId])
REFERENCES [dbo].[Membertable] ([memberid])
GO
