USE [startrip]
GO
ALTER TABLE [dbo].[TravelView] DROP CONSTRAINT [FK__TravelVie__membe__0B9350C2]
GO
ALTER TABLE [dbo].[TravelPlan] DROP CONSTRAINT [FK__TravelPla__membe__0E6FBD6D]
GO
ALTER TABLE [dbo].[TravelList] DROP CONSTRAINT [FK__TravelLis__viewI__12404E51]
GO
ALTER TABLE [dbo].[TravelList] DROP CONSTRAINT [FK__TravelLis__trave__114C2A18]
GO
/****** Object:  Table [dbo].[TravelView]    Script Date: 2018/5/24 下午 03:00:47 ******/
DROP TABLE [dbo].[TravelView]
GO
/****** Object:  Table [dbo].[TravelPlan]    Script Date: 2018/5/24 下午 03:00:47 ******/
DROP TABLE [dbo].[TravelPlan]
GO
/****** Object:  Table [dbo].[TravelList]    Script Date: 2018/5/24 下午 03:00:47 ******/
DROP TABLE [dbo].[TravelList]
GO
/****** Object:  Table [dbo].[TravelList]    Script Date: 2018/5/24 下午 03:00:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TravelList](
	[listId] [int] IDENTITY(1,1) NOT NULL,
	[travelId] [int] NOT NULL,
	[viewId] [int] NOT NULL,
	[endTime] [varchar](255) NULL,
	[startTime] [varchar](255) NULL,
	[travelType] [varchar](255) NULL,
	[tripday] [int] NOT NULL,
	[state] [int] NOT NULL,
	[travelName] [varchar](255) NULL,
	[viewName] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[listId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TravelPlan]    Script Date: 2018/5/24 下午 03:00:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TravelPlan](
	[travelId] [int] IDENTITY(1,1) NOT NULL,
	[endDate] [date] NULL,
	[startDate] [date] NULL,
	[travelDays] [int] NOT NULL,
	[travelName] [varchar](255) NULL,
	[img] [varchar](255) NULL,
	[state] [int] NOT NULL,
	[memberId] [int] NOT NULL,
	[mail] [varchar](255) NULL,
	[tripday] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[travelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TravelView]    Script Date: 2018/5/24 下午 03:00:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TravelView](
	[viewid] [int] IDENTITY(1,1) NOT NULL,
	[viewName] [varchar](255) NULL,
	[imgName] [varchar](max) NULL,
	[website] [varchar](255) NULL,
	[viewaddr] [varchar](255) NULL,
	[viewPhone] [varchar](255) NULL,
	[viewDetail] [varchar](255) NULL,
	[latlng] [varchar](255) NULL,
	[viewcount] [int] NULL,
	[tdate] [date] NULL,
	[memberId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[viewid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TravelList] ON 

INSERT [dbo].[TravelList] ([listId], [travelId], [viewId], [endTime], [startTime], [travelType], [tripday], [state], [travelName], [viewName]) VALUES (108, 1, 4, N'02:00', N'01:00', N'花蓮', 1, 1, N'food', N'bear two寶慶遠東專櫃4樓')
INSERT [dbo].[TravelList] ([listId], [travelId], [viewId], [endTime], [startTime], [travelType], [tripday], [state], [travelName], [viewName]) VALUES (109, 1, 19, N'05:08', N'03:28', N'花蓮', 1, 0, N'food', N'6星集足體養身會館')
INSERT [dbo].[TravelList] ([listId], [travelId], [viewId], [endTime], [startTime], [travelType], [tripday], [state], [travelName], [viewName]) VALUES (110, 1, 23, N'05:56', N'04:56', N'花蓮', 1, 0, N'food', N'6星集足體養生會館')
SET IDENTITY_INSERT [dbo].[TravelList] OFF
SET IDENTITY_INSERT [dbo].[TravelPlan] ON 

INSERT [dbo].[TravelPlan] ([travelId], [endDate], [startDate], [travelDays], [travelName], [img], [state], [memberId], [mail], [tripday]) VALUES (1, CAST(N'2015-02-08' AS Date), CAST(N'2015-02-05' AS Date), 6, N'花蓮', N'1.jpg', 1, 1, NULL, NULL)
INSERT [dbo].[TravelPlan] ([travelId], [endDate], [startDate], [travelDays], [travelName], [img], [state], [memberId], [mail], [tripday]) VALUES (2, CAST(N'2015-02-21' AS Date), CAST(N'2015-02-07' AS Date), 14, N'台北', N'2.jpg', 1, 1, NULL, NULL)
INSERT [dbo].[TravelPlan] ([travelId], [endDate], [startDate], [travelDays], [travelName], [img], [state], [memberId], [mail], [tripday]) VALUES (3, CAST(N'2015-02-21' AS Date), CAST(N'2015-02-07' AS Date), 14, N'台北', N'3.jpg', 1, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TravelPlan] OFF
SET IDENTITY_INSERT [dbo].[TravelView] ON 

SET IDENTITY_INSERT [dbo].[TravelView] OFF
ALTER TABLE [dbo].[TravelList]  WITH CHECK ADD FOREIGN KEY([travelId])
REFERENCES [dbo].[TravelPlan] ([travelId])
GO
ALTER TABLE [dbo].[TravelList]  WITH CHECK ADD FOREIGN KEY([viewId])
REFERENCES [dbo].[TravelView] ([viewid])
GO
ALTER TABLE [dbo].[TravelPlan]  WITH CHECK ADD FOREIGN KEY([memberId])
REFERENCES [dbo].[Membertable] ([memberid])
GO
ALTER TABLE [dbo].[TravelView]  WITH CHECK ADD FOREIGN KEY([memberId])
REFERENCES [dbo].[Membertable] ([memberid])
GO
