USE [startrip]
GO
ALTER TABLE [dbo].[HotelReview] DROP CONSTRAINT [FKgk05bsgdq97bvyvatk49dblkt]
GO
/****** Object:  Table [dbo].[HotelReview]    Script Date: 2018/5/27 下午 04:21:46 ******/
DROP TABLE [dbo].[HotelReview]
GO
/****** Object:  Table [dbo].[HotelReview]    Script Date: 2018/5/27 下午 04:21:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HotelReview](
	[no] [int] IDENTITY(1,1) NOT NULL,
	[articleId] [int] NULL,
	[content] [varchar](255) NULL,
	[filePath] [varchar](255) NULL,
	[hotelId] [int] NULL,
	[lastname] [varchar](255) NULL,
	[memberId] [int] NULL,
	[overallRank] [int] NULL,
	[photoPaths] [varchar](255) NULL,
	[roomTips] [varchar](255) NULL,
	[roomsRating] [int] NULL,
	[serviceRating] [int] NULL,
	[thumbCount] [int] NULL,
	[title] [varchar](255) NULL,
	[tripType] [varchar](255) NULL,
	[updateTime] [datetime2](7) NULL,
	[valueRating] [int] NULL,
	[videoPath] [varchar](255) NULL,
	[visited] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[no] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HotelReview] ON 

INSERT [dbo].[HotelReview] ([no], [articleId], [content], [filePath], [hotelId], [lastname], [memberId], [overallRank], [photoPaths], [roomTips], [roomsRating], [serviceRating], [thumbCount], [title], [tripType], [updateTime], [valueRating], [videoPath], [visited]) VALUES (2, NULL, N'大家都在飯店中充分享受了度假的愉悅 是趟每個人都充電滿滿 回憶滿滿的旅程 已經開始期待下一趟的太魯閣晶英之旅', NULL, 1, NULL, 3, 3, N'06a2884d-04c2-4470-b587-5c8282863809.jpg;', N'', 2, 2, NULL, N'三五好友一起賴在太魯閣晶英超完美', N'伴侶旅行', CAST(N'2018-05-27T15:35:29.0720000' AS DateTime2), 4, NULL, CAST(N'2018-01-01' AS Date))
INSERT [dbo].[HotelReview] ([no], [articleId], [content], [filePath], [hotelId], [lastname], [memberId], [overallRank], [photoPaths], [roomTips], [roomsRating], [serviceRating], [thumbCount], [title], [tripType], [updateTime], [valueRating], [videoPath], [visited]) VALUES (3, NULL, N'隱身山中以樸實的外表，舒適親切的服務，小孩有佔地不小的遊樂設備可打發時間', NULL, 1, NULL, 4, 5, N'8e8453de-ebd3-46c5-aade-a4a69303bbf4.jpg;', N'', 2, 2, NULL, N'幽靜的山中休憩時光', N'伴侶旅行', CAST(N'2018-05-27T15:37:29.5400000' AS DateTime2), 3, NULL, CAST(N'2017-12-01' AS Date))
INSERT [dbo].[HotelReview] ([no], [articleId], [content], [filePath], [hotelId], [lastname], [memberId], [overallRank], [photoPaths], [roomTips], [roomsRating], [serviceRating], [thumbCount], [title], [tripType], [updateTime], [valueRating], [videoPath], [visited]) VALUES (4, NULL, N'飯店內有很多適合親子活動的設施，小游泳池，超大遊戲區，飯店工作人員對親子很友善，很適合家庭出遊。', NULL, 1, NULL, 1, 1, N'e2f5e4d2-88f6-4af2-ad0c-4aa43f96dfa7.jpg;', N'', 1, 2, NULL, N'適合親子共遊的飯店', N'伴侶旅行', CAST(N'2018-05-27T15:39:31.2330000' AS DateTime2), 3, NULL, CAST(N'2018-02-01' AS Date))
SET IDENTITY_INSERT [dbo].[HotelReview] OFF
ALTER TABLE [dbo].[HotelReview]  WITH CHECK ADD  CONSTRAINT [FKgk05bsgdq97bvyvatk49dblkt] FOREIGN KEY([memberId])
REFERENCES [dbo].[Membertable] ([memberid])
GO
ALTER TABLE [dbo].[HotelReview] CHECK CONSTRAINT [FKgk05bsgdq97bvyvatk49dblkt]
GO
