USE [startrip]
GO
/****** Object:  Table [dbo].[STATION]    Script Date: 2018/5/28 下午 02:27:08 ******/
DROP TABLE [dbo].[STATION]
GO
/****** Object:  Table [dbo].[STATION]    Script Date: 2018/5/28 下午 02:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATION](
	[stationId] [int] IDENTITY(1,1) NOT NULL,
	[area] [nchar](10) NULL,
	[stationName] [nchar](10) NULL,
	[Address] [nchar](100) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[STATION] ON 

INSERT [dbo].[STATION] ([stationId], [area], [stationName], [Address]) VALUES (1, N'台北        ', N'台北車站      ', N'台北市中正區市民大道一段168號                                                                                    ')
INSERT [dbo].[STATION] ([stationId], [area], [stationName], [Address]) VALUES (2, N'台北        ', N'市府轉運站     ', N'台北市信義區忠孝東路五段6號                                                                                      ')
INSERT [dbo].[STATION] ([stationId], [area], [stationName], [Address]) VALUES (3, N'台北        ', N'士林轉運站     ', N'臺北市士林區福德路1號                                                                                         ')
SET IDENTITY_INSERT [dbo].[STATION] OFF
