USE [startrip]
GO
/****** Object:  Table [dbo].[STATION]    Script Date: 2018/5/13 下午 04:26:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATION](
	[stationId] [int] NOT NULL,
	[area] [nchar](10) NULL,
	[stationName] [nchar](10) NULL,
 CONSTRAINT [PK_STATION] PRIMARY KEY CLUSTERED 
(
	[stationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
