USE [startrip]
GO
/****** Object:  Table [dbo].[RtDetails]    Script Date: 2018/5/18 下午 04:02:30 ******/
DROP TABLE [dbo].[RtDetails]
GO
/****** Object:  Table [dbo].[RtDetails]    Script Date: 2018/5/18 下午 04:02:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RtDetails](
	[rtId] [int] IDENTITY(1,1) NOT NULL,
	[photoPaths] [varchar](255) NULL,
	[rtAddress] [varchar](255) NULL,
	[rtArea] [varchar](255) NULL,
	[rtBusinesshours] [varchar](255) NULL,
	[rtCounty] [varchar](255) NULL,
	[rtCuisine] [varchar](255) NULL,
	[rtEmail] [varchar](255) NULL,
	[rtName] [varchar](255) NULL,
	[rtPhone] [varchar](255) NULL,
	[rtPricepount] [varchar](255) NULL,
	[rtUrl] [varchar](255) NULL,
	[teCategory] [varchar](255) NULL,
	[photo] [varchar](255) NULL,
	[photoArr] [varbinary](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[rtId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[RtDetails] ON 

SET IDENTITY_INSERT [dbo].[RtDetails] OFF
