.icon.col-2{
	width:20px;
	height:20px;
	
	margin:15px auto;
		
}
.icon.col-2:hover{
	height:25px;
	width:25px;
}
#travelimg{
	width:150px;
	height:150px;
}

.card.col-5{
	margin:1em; 
	width:400px;
}

.icon.col-2.update{
	    width: 60px;
    height: 30px;
}
.icon.col-2.del{
	    width: 60px;
    height: 30px; 
}