.icon.col-2{
	width:20px;
	height:20px;
	
	margin:15px auto;
		
}
.icon.col-2:hover{
	height:25px;
	width:25px;
}
#travelimg{
	width:150px;
	height:150px;
}

.card.col-5{
	margin:1em; 
	width:400px;
}

.icon.col-2.update{
	    width: 60px;
    height: 30px;
}
.icon.col-2.del{
	    width: 60px;
    height: 30px; 
}
.row{
	padding:30px;
}
.list-group-flush .list-group-item{
border:2px solid #00cc00;
border-radius: 25px;
margin-bottom:3px;
box-shadow:2px 2px 2px rgba(20%,20%,40%,0.6),4px 4px 6px rgba(20%,20%,40%,0.4),6px 6px 12px rgba(20%,20%,40%,0.4);
margin-bottom:10px;
font-size:2em;
padding-left: 35%;
}

.not-active {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black;
}
.pagination{
	margin-left:32%
}
#now{
    margin: 0px 50px;
    font-weight: 5px;
}
li{
	font-size:2em;
}
.page:hover{
	background-color:#6084b9;
	color:white;
	 box-shadow:4px 4px 12px 4px rgba(20%,20%,40%,0.5);
	 border-radius:25px;
	font-size: 2.1em;
	
}