*{
  margin:0;
  padding:0;
  }
.switch{
	position: fixed;
	top:80px;
	left:0px;
	
}
/* nav */
#section-contact{
	padding: 40px 10px;
}
#probootstrap-navbar{
	padding:1px;
}
/* switch */
#goback{
	left:200px;
	width: 150px;
    background-color: black;
    color: yellow;
    display: inline;
}
#goback:hover{
	  
  
      background-color: #0080c0;
      color: white;
}

#switch{
	width:200px;  
      background-color: black;
      color: yellow;
}
#switch:hover{
	 
  
      background-color: #0080c0;
      color: white;
}
/* ---------------------------------------------- */

.aside1{
     z-index: 3;
    width: 320px;
    margin-left: 20px;
    position: fixed;
    display: none;
    overflow-y: auto;
    height: 810px;
    top: 130px;

  }

.iconImg{
	margin-left: 1em;
    float: right;

}
/* aside1-------end */
/* aside------- */
.aside{
	z-index:3;
	 position: fixed;
    width: 355px;
    height: 100%;
    top: 130px;
}

#tripcontext{
	background-image:url("/startrip/assets/Travel/img/beach.jpg");
	background-size:25em;
	background-repeat:no-repeat;
    background-color: aqua;
    height: 120px;
  }
  .bgImg{
  background-image:url("/startrip/assets/Travel/img/icon-black-corner.png");
  background-size:20em;
      height: 100%;
    width: 300px;
  }
  #travelName{
  		color: white;
      padding: 1px 20px;
      font-family: fantasy;
      font-weight: 1em;
  }
  
  .time.contex{
  color: white;
  font-size: 2em;
  }
  
   .timestyle{
     margin: 0;
     float: left;
     width:200px;
  }
  .triplist{
      height: 620px;
    background-color: #89ccbb;
    overflow-y: auto;
    position: fixed;
    width: 350px;
  }

 .time.contex{
      font-size: 10px;
      
  }

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 5%;
    margin-left: -3px;
}
/*contanerday*/
.right1 {
    left: 0%;
}



/* Add arrows to the right container (pointing left) */
.right1::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 32px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right1::after {
    left: 5px;

}

/* contanerday end

/* Container around content */
.container1 {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 100%;
}

/* The circles on the timeline */
.container1::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 22px;
    border-radius: 50%;
    z-index: 1;
}


/* Place the container to the right */
.right {
       left: -16%
}



/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 17%;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: 5px;docFrag
    top: 20px;
}
.contentDay {
	    width: 150px;
    padding: 1px 35px;
    background-color: white;
    position: relative;
    border-radius: 25px;
}

/* The actual content */
.content {
	    width: 250px;
    padding: 10px 15px;
    background-color: white;
    position: relative;
    border-radius: 6px;
       
}

.timeline-content1 {
  position: relative;
  width: 150px;
  padding: 5px;
  border-radius: 30px;
  background: #ff8040;
  box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
  left: 15%;
  top:5px;
  
}
.timeline-content1:hover {
	background:#00008e;
	color:white;
	}
.daytitle{
	text-align:center;
}
.listmain{
	width:200px;
	height:60px;
	border:1px solid black;
	margin-left:75px;
	margin-top:15px;
	
}


.timeline-img {
  width: 30px;
  height: 30px;
  background: #3F51B5;
  border-radius: 50%;
  position: absolute;
  left: 10%;
  margin-top: 10px;
  margin-left: -15px;
}



.timeline-card {
  padding: 0 !important;
}
.timeline-card p {
  padding: 0 20px;
}
.timeline-card a {
  margin-left: 20px;
}



.timeline-img-header {
  height: 200px;
  position: relative;
  margin-bottom: 20px;
}
.timeline-img-header h2 {
  color: #FFFFFF;
  position: absolute;
  bottom: 5px;
  left: 20px;
}

 .foot{
    bottom: 0px;
    position: fixed;
    background-color: #009ce8;
    width: 350px;
    height: 80px;
    line-height: 70px;
    padding: 0px 3em;
    
}

 
 #insertday{
     background-color: #009ce8;
    border-radius: 30px;
    color: white;
    border: white solid 5px;
    font-size: 1em;
    font-family: fantasy;  	
  }
  
#insertday:hover{
      background-color: red;
      border-radius: 30px;
      border: white solid 5px;
      color: #22b7ff;
      
  }



blockquote {
  margin-top: 30px;
  color: #757575;
  border-left-color: #3F51B5;
  padding: 0 20px;
}

.date {
  background: #FF4081;
  display: inline-block;
  color: #FFFFFF;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

  
  .tripnum{
      width:100px;	
      border:2px solid blue;
      border-radius: 50px;
      float:left; 
      margin:10px 5px;
      margin-bottom: 20px;
         
      
  }
  
  #arrow{
  width:50px;
  margin-bottom: 20px;
  
  }

  .tripli{
  width:200px;
 float: left;
   
      background: rgba(127, 193, 255, 0.918);
      padding:10px 5px;
      border-radius: 5px;
  }
  .tripTitle{
      
      width:90%;
     border-radius: 5px;
     background: rgba(96, 106, 165, 0.904);
     padding:5px;
     margin:0 auto;
      
  }
  .tripAction{
      margin:0 auto;
     width:90%;
  }
  
 
 
 
 
  .tripli{
      border:solid black 1px; 
      width:200px;
  }
  .listcard{
    position: absolute;
    width: 300px;
    z-index: 1;
    top: 38px;
  }

  
 

  
  .listContext{
      width:320px;
      height:210px;
      
      }
    .navFixedSwitch {
    z-index: 5;          
    position: fixed;      
    top: 0;
    left: 0;
    margin-top: 0;
    min-width: 350px;
    opacity: 0.94;
    transition: opacity .5s ease-out;  
    background-color: #ffffff 
    } 
  .navFixedTop {
      z-index: 10;          
      position: absolute;      
      top: 38px;
      left: 0;
      margin-top: 0;
      min-width: 350px;
      opacity: 0.94;
      transition: opacity .5s ease-out;   
      height:116px;
      } 
  .navFixedBottom {
      z-index: 10;          
      position: fixed;      
      bottom: 0;
      left: 0;
      margin-top: 0;
      min-width: 350px;
      opacity: 0.94;
      transition: opacity .5s ease-out;   
      }
  .input-group.md-form.form-sm.form-2 input.amber-border  {
      border: 1px solid #ffca28;
  }
  .maincontext{
      z-index: 15;
      position: fixed;
      left:350px;
      top:80px;
      background-color: white;
      width: 100%;
      height: 100%;
  }
 
  #map {
        height: 100%;
      } 
      
        html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
 .controls {
        margin-top: 10px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

       #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 300px;
      }
      #pac-input:focus {
        border-color: #4d90fe;
      }
      
     
      .circle{
      margin:20px 8px;
      height:79px;
      background-color: #28b9ff;
      border-radius: 90px;
      font-size: 30px;
      padding:auto;
      text-align: center;
      }
       .circle:hover{
      background-color: #00496c;
      color:white;
      }
      
      .checkview{
      padding: auto ;
      }
      
      #food{
      background: url("/startrip/assets/Travel/img/food.png");
      background-size: 50px;
      background-repeat: no-repeat;
      background-position: center;
      border-radius:  90px;
        height: 120px;
      }
       #shop{
      background: url("/startrip/assets/Travel/img/shop.png");
      background-size: 50px;
      background-repeat: no-repeat;
      background-position: center;
      border-radius:  90px;
      height: 120px;
      }
       #travel{
      background: url("/startrip/assets/Travel/img/mountain.png");
      background-size: 50px;
      background-repeat: no-repeat;
      background-position: center;
      border-radius:  90px;
        height: 120px;
      }
       #rest{
      background: url("/startrip/assets/Travel/img/zzz.png");
      background-size: 50px;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 90px;
        height: 120px;
      }
      
       #shop:hover,#food:hover,#travel:hover,#rest:hover{
       background-color: #06aeff;
      
      }
      
.card{
  margin-top: 20px;
  margin-bottom: 20px;
}
#btnday1{
  border:1px solid gray;
  border-radius: 30px;
  width:10em;
  height: 2em;
}


.viewDetail{
	background-color: #f8f9fa;
    width: 350px;
    height: 695px;
    position: fixed;
    z-index: 1;
    top: 110px;
    display: none;
    padding: 40px 30px;
    left: -350px;
}
.closelist:hover{
	background-color: #0080ff;
}

.closelist{
	background-image:url("/startrip/assets/Travel/img/close.png");
	background-size: 30px;
	height: 30px;
    float: right;
    width: 30px;
    margin-right:10px;
   
}
.updatelist{
	background-image:url("/startrip/assets/Travel/img/pen.png");
	background-size: 30px;
	height: 30px;
    float: right;
    width: 30px;
    margin-right:10px;
}
.updatelist:hover{
	background-color: #0080ff;
}
.placeImg{
	background-image: url("/startrip/assets/Travel/img/down-arrow-hand-drawn-sign.png");
	width: 28px;
	   background-size: 28px;
    background-color: white;
    display: inline-block;
    height: 28px;
    margin-right: 1em;
	margin-top: 2px;
	
}

.timediv{
	background-color: white;
}


@media screen and (max-width: 768px) {
  .timeline::before {
    left: 50px;
  }
  .timeline .timeline-img {
    left: 50px;
  }
  .timeline .timeline-content {
    
    width: auto;
    margin-left: 70px;
  }
  .timeline .timeline-item:nth-child(even) .timeline-content {
    float: none;
  }
  .timeline .timeline-item:nth-child(odd) .timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
  }
}


